/* font-family: 'Fira Sans', sans-serif; */

html {
  font-family: 'Roboto', sans-serif;
}

form {
  max-width: 1024px;
  min-height: 91px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 0 5px 5px 0;
  background-color: #ffffff;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place {
  flex-basis: 280px;
  box-sizing: border-box;
  padding-right: 25px;
  border-right: 2px solid #e4e4e4;
}

.dates {
  flex-basis: 320px;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 2px solid #e4e4e4;
}

.count {
  flex-basis: 340px;
  box-sizing: border-box;
}

.btn-submit {
  flex-basis: 210px;
  box-sizing: border-box;
}

label {
  color: #232323;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.3px;
}

input#input_place {
  margin-top: 11px;
  border: none;
  height: 20px;
  background-image: url(./images/place-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 22px;
  color: #6b6b6b;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates-wrap {
  flex-basis: 40%;
}

select {
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

select#in_select {
  height: 18px;
  padding-left: 28px;
  background-image: url(./images/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: center left;
  width: 125px;
  appearance: none;
  position: relative;
}

select#out_select {
  padding-right: 20px;
}

.count {
  padding-left: 28px;
  display: flex;
}

.room-wrap,
.adult-wrap,
.children-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.count label {
  flex-basis: 100%;
}

.count input {
  width: 30px;
  height: 27px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  color: #8b9198;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: left;
  letter-spacing: 0.4px;
  text-align: center;
}

.btn {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  cursor: pointer;
}

.btn:active {
  opacity: 0.6;
}

.btn-add {
  margin-bottom: 11px;
  margin-top: 5px;
  border-bottom: 10px solid #ed9915;
}

.btn-sub {
  border-top: 10px solid #8b9198;
}

.btn-add__big {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.add__big {
  width: 35px !important;
  height: 35px;
  background-color: #fdb038;
  opacity: 0.58;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.add__big:active {
  background-color: #ed9915;
  opacity: 1;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 63px;
  margin-left: 15px;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 2px;
  background-color: #ed9915;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  cursor: pointer;
}

.submit:active {
  opacity: 0.7;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1068px) {
  .form-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
  }

  .place,
  .dates,
  .count,
  .btn-submit {
    flex-basis: 50%;
    margin-bottom: 40px;
    border-right: none;
  }
}

@media (max-width: 660px) {
  .place,
  .dates,
  .count,
  .btn-submit {
    flex-basis: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .count {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .room-wrap,
  .adult-wrap,
  .children-wrap {
    flex-basis: 30%;
  }

  .count input {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 560px) {
  .btn-add__big {
    flex-basis: 100%;
    margin-top: 20px;
  }
}
